################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MmReddit/.vs/MmReddit/FileContentIndex/4df027b3-f8dd-4b96-8f2f-1f987eaab905.vsidx
